.navbar {
  background-color: #333;
  display: flex;
  justify-content: left;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 8px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 5px;
}

.active-link {
  background-color: #777;
  border-radius: 5px;
}